/*
******
Reset
******
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
******
Typography
******
*/

:root {
  --coloresfondo: #083b4c;
  --nobuzzfizzfizzbuzz: #1389b2;
  --fizz: #00ffbc;
  --buzz: #ffff00;
  --fizzbuzz: #ff0000;
}

h1 {
  font-size: 70px;
}

/*
******
Body
******
*/

body {
  background-color: var(--coloresfondo);
}

.box {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  margin: 10px;
}

.fizz {
  background-color: var(--fizz);
}

.buzz {
  background-color: var(--buzz);
}

.fizzbuzz {
  background-color: var(--fizzbuzz);
}
